
<!------ Include the above in your HEAD tag ---------->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  <!-- <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
</head>
<body>
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"> -->
  <div class="form-gap"></div>
 <div class="container">
   <div class="row">
     <div class="col-md-4 col-md-offset-4">
             <div class="panel panel-default">
               <div class="panel-body">
                 <div class="text-center">
                   <h3><i class="fa fa-lock fa-4x"></i></h3>
                   <h2 class="text-center">Forgot Password?</h2>
                   <div class="panel-body">
     
                     <form id="register-form" role="form" autocomplete="off" class="form" method="post">
     
                       <div class="form-group">
                         <div class="input-group">
                           <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                           <input id="email" name="email" placeholder="email address" class="form-control"  type="email">
                         </div>
                       </div>
                       <div class="form-group">
                         <input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Reset Password" type="submit">
                       </div>
                       <div class="form-group">
                        <button class="btn btn--radius btn--green" type="button" onclick="location.href='http://thangvc91.ydns.eu:8082/api/forgot;">Forgot password</button>
                      </div>                       
                       <input type="hidden" class="hide" name="token" id="token" value=""> 
                     </form>
     
                   </div>
                 </div>
               </div>
             </div>
           </div>
   </div>
 </div>  
</body>
</html>

<script>
  let info = "{{info}}";
  if(info.length>30){
    alert(info);
    document.location.href="http://thangvc91.ydns.eu:8082/api/bat";
  }
  else if(info.length < 20 && info.length > 10){
    alert(info)
  }

</script>