<!DOCTYPE html>

<html lang="en">
    <head>
            <meta charset="UTF-8">
            <title>SEARCH-USERLIST</title>
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
            <!-- JavaScript Bundle with Popper -->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

            <style>
                td{
                    width: 25%;
                }
            </style>
    </head>
    <body>
        <div class="container mt-5">
            <table class="table">
                <thead>
                    <tr>
                        <th>phone</th>
                        <th>name</th>
                        <th>email</th>
                        <!-- <th>anh</th> -->
                    </tr>
                </thead>
                <tbody id="user_list">
                </tbody>
            </table>

        </div>
    </body>
</html>
<script>
    let baseUrl = 'http://thangvc91.ydns.eu:8082'
    let userList = [];
    function renderRow(user){
        return(
            `<tr>
                <td scope="row">${user.phone}</td>
                <td>${user.name}</td>
                <td>${user.email}</td>
            </tr>`        
        )
    }



    async function searchUser(keyword){
        let url = baseUrl + '/api/search-user?keyword=' + (keyword ?? '') //ham lay gia tri mac dinh cua JS
        let resp = await fetch(url);
        userList = await resp.json();
        console.log(userList);
        let html = userList.map(renderRow).join("");
        console.log(html);
        document.getElementById("user_list").innerHTML=html;
    }
    searchUser();
</script>